<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/runs/new.css">
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
    <div class="header" >
      <a class="back-arrow" href="/runs"><i class="fa-solid fa-angle-left"></i></a>
      <h1><%= title %></h1>
    </div>

    <section>
      <form action="/runs" method="POST">
        <div>
          <label>
            <input type="date" name="date" placeholder="Time (minutes)">
          </label>
        </div>
  

    
        <div>
          <label>
            <input type="text" name="distance" placeholder="Distance (miles)">
          </label>
        </div>
    
        <div>
          <label>
            <input type="text" name="time" placeholder="Time (minutes)">
          </label>
        </div>
    
        <div>
          <label>
            <textarea name="notes" placeholder="Notes"></textarea>
          </label>
        </div>
  
        <div>
          <label>
          <button type="submit" class="btn btn-primary">Add Run</button>
        </label>
        </div>
      </form>
    </section>
    
  <% } %>
</main>

<%- include('../partials/footer') %>