<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
   <h1><%= title %> </h1>
  <form action="/runs" method="POST">
    <label>
      <input type="date" name="date" autofocus>
    </label><br>
    <label>
      <input type="text" name="distance" placeholder="Distance in miles">
    </label><br>
    <label>
      
      <input type="text" name="time" placeholder="Time in minutes">
    </label><br>
    <label>
      <input type="text" name="notes" placeholder="Notes">
    </label><br>
    <button type="submit">Add Run</button>
  </form>
  <% } %>
</main>

<%- include('../partials/footer') %>