<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
    <h1><%= title %> </h1>
    <form action="/runs" method="POST">
      <div class="input-group mb-3">
        <label>
          <input type="date" name="date" class="form-control" placeholder="Time (minutes)" aria-label="Username" aria-describedby="basic-addon1">
        </label>
      </div>
  
      <div class="input-group mb-3">
        <label>
          <input type="text" name="distance" class="form-control" placeholder="Distance (miles)" aria-label="Username" aria-describedby="basic-addon1">
        </label>
      </div>
  
      <div class="input-group mb-3">
        <label>
          <input type="text" name="time" class="form-control" placeholder="Time (minutes)" aria-label="Username" aria-describedby="basic-addon1">
        </label>
      </div>
  
      <div class="input-group">
        <label>
          <textarea name="notes" class="form-control" aria-label="With textarea" placeholder="Notes"></textarea>
        </label>
      </div>

      <div>
        <label>
        <button type="submit" class="btn btn-primary">Add Run</button>
      </label>
      </div>
    </form>
  <% } %>
</main>

<%- include('../partials/footer') %>