.header {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  justify-items: center;
  align-items: center;
}

h1 {
  grid-column: 2;
  justify-self: center;
  margin: 2%;
}

.fa-angle-left {
  grid-column: 1;
  /* justify-self: start; */
}

section {
  display: flex;
  justify-content: center;
}

div {
  display: grid;
  justify-content: center;
}

input, textarea {
  border-radius: 8px;
  border: 0;
  padding: 2%;
  margin: 2%;
  box-shadow:0 0 15px 4px rgba(66, 66, 66, 0.06);
}

