.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

h1 {
  grid-column: 2;
  justify-self: center;
  margin: 2%;
}

/* .fa-angle-left {
  grid-column: 1;
  justify-self: start;
} */

.add-run {
  grid-column: 3;
  /* justify-self: end; */
}

p {
  display: inline-block;
  margin: 0;
}

.run-label {
  /* margin-left: 1%; */
  background-color: rgb(226, 226, 226);
  padding: .4%;
  border-radius: 10px;
}

.run-body {
  /* margin: 2%; */
  border-radius: 10px;
  background-color: white;
  border: none;
  padding: 1.5%;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 50% 50%;
}

.fa-person-running{
/* grid-area: 1/ 1 / 2 / 2; */
grid-column: 1;
grid-row-start: span 2;
align-self: center;
justify-self: start;
}

#runs-distance {
grid-column: 2;
grid-row: 1;
}

#runs-time {
  grid-column: 2;
  grid-row: 2;
  color: rgb(179, 179, 179);
}

#runs-view {
  grid-column: 3;
  grid-row-start: span 2;
  align-self: center;
  justify-self: end;
}



