.header {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  justify-items: center;
  align-items: center;
}

#run-label {
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
}

p {
  margin: 1%;
  margin-left: 4%;
}

.fa-person-running {
  margin-right: 1%;
}

h1 {
  grid-column: 2;
  justify-self: center;
  margin: 2%;
}

.back-arrow {
  grid-column: 1;
  /* justify-self: start; */
}

.delete {
  grid-column: 3;
  /* justify-self: end; */
}

.card, #run-label {
  margin-left: 1%;
  margin-right: 1%;
  box-shadow:0 0 15px 4px rgba(66, 66, 66, 0.116);
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 3fr 1fr 2fr 1fr 1fr 2fr;
  place-items: center;
  border-radius: 10px;
  padding: 2%;
}

ul {
  list-style-type: none;
}
.distance-label {
  grid-column: 1;
  grid-row: 2;
  border-top: 1px solid rgb(172, 172, 172);
  align-self: start;
  color: rgb(136, 136, 136);
  justify-self: stretch;
  margin-left: 6%;
  margin-right: 6%;
}

.distance {
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  font-size: xx-large;
}

.time-label {
  grid-row: 2;
  grid-column: 2;
  border-top: 1px solid rgb(172, 172, 172);
  align-self: start;
  color: rgb(136, 136, 136);
  justify-self: stretch;
  margin-left: 6%;
  margin-right: 6%;
}

.time {
  grid-row: 1;
  grid-column: 2;
  align-self: end;
  font-size: xx-large;
}

.average-pace-label {
  grid-column: 1 / 3;
  grid-row: 4;
  border-top: 1px solid rgb(172, 172, 172);
  align-self: start;
  color: rgb(136, 136, 136);
  justify-self: stretch;
  margin-left: 28%;
  margin-right: 28%;
}

.average-pace {
  grid-column: 1 / 3;
  grid-row: 3;
  align-self: end;
  font-size: xx-large;
}

.notes-label {
  grid-column: 1 / 3;
  grid-row: 6;
  border-top: 1px solid rgb(172, 172, 172);
  align-self: start;
  justify-self: stretch;
  margin-left: 6%;
  margin-right: 6%;
  color: rgb(136, 136, 136);;
}

.notes {
  grid-column: 1 / 3;
  grid-row: 5;
  align-self: end;
  font-size: larger;
}

.achievements-label {
  grid-column: 1 / 3;
  grid-row: 8;
  border-top: 1px solid rgb(172, 172, 172);
  align-self: start;
  justify-self: stretch;
  margin-left: 6%;
  margin-right: 6%;
  color: rgb(136, 136, 136);;
}

.achievements-list {
  grid-column: 1 / 3;
  grid-row: 7;
  display: grid;
  place-items: center;
  align-self: end;
  font-size: larger;
}

.add-achievement-to-run {
  grid-column: 1 / 3;
  grid-row: 9;
}

.achievement-select {
  border-radius: 10px;
  grid-column: 1 / 3;
  grid-row: 10;
}

.edit-btn {
  grid-column: 1 / 3;
  grid-row: 10;
  align-self: end;
}

ul {
  padding: 0;
  margin: 0;
}


@media only screen and (min-width: 768px) {
  .card, #run-label {
    margin-left: 18%;
    margin-right: 18%;
  }
}