.navbar-mobile {
  top: 0; right: 0; bottom: 96%; left: 0;
  background-color: rgba(63, 63, 63, 0);
  position: absolute;
  justify-content: flex-end;
  margin-left: 20%;
}

.app-name {
  font-style: italic;
  font-family: 'Oswald', sans-serif;
  color: rgba(29, 56, 78, 0.884);
  font-size: 20px;
  align-self: center;
  margin-right: 1%;
  margin-top: 1%;
}

.user-name {
  display: none;
}

@media only screen and (min-width: 768px) {
  .user-name {
    display: flex;
    margin-right: 1%;
    margin-top: 1%;
  }

  .navbar-mobile {
    margin-left: 46%;
    justify-content: space-between;
  }

  img {
    display: none;
  }

  .app-name {
    display: flex;
    margin-top: 2.5%;
    font-style: italic;
    font-family: 'Oswald', sans-serif;
    color: rgba(29, 56, 78, 0.884);
    text-shadow: black;
    font-size: larger;
    outline: rgb(39, 38, 35);
  }

}




