.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

h1 {
  grid-column: 2;
  justify-self: center;
  margin: 2%;
}

.add-goal {
  grid-column: 3;
  justify-self: end;
  margin-right: 10%;
}

.goal-div {
  background-color: white;
  border-radius: 8px;
  padding: 1%;
  margin: 1%;
  display: grid;
  grid-template-columns: 5% 1fr 7%;
  box-shadow:0 0 15px 4px rgba(66, 66, 66, 0.116);
}

p {
  grid-column: 2;
  margin: 0;
}

.fa-check {
  grid-column: 1;
  align-self: center;
  justify-self: start;
  margin-left: 1%;
}

#edit-goal-btn {
  background-color: rgba(240, 248, 255, 0);
  border-radius: 50%;
  border: 0;
  
}

form {
  grid-column: 3;
  justify-self: end;
  align-self: center;
}

@media only screen and (min-width: 768px) {
  .goal-div {
    margin-left: 5%;
    margin-right: 5%;
  }

  .add-goal {
    margin-right: 20%;
  }

  .goal-div {
    grid-template-columns: 2.5% 1fr 1fr;
  }
}


